@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar 1 section starts from here */
.outer{
  display: flex;
  padding: 8px;
  font-family: sans-serif;
  border-bottom: 0.1px solid rgb(210, 208, 208);
}
.inner1  ul li{
  list-style: none;
  margin-left: 4%;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.inner1 ul li:first-child{
  margin-left: 0px;
}
.inner1 ul li a:hover{
  color: RGB(255, 111, 97);
}
.inner1 ul {
  display: flex;
  justify-content: flex-start;
}
.inner1 a {
  text-decoration: none;
  color: #1A1A1A;
}
.inner1 >div:last-child{
  width: 80%;
  margin: auto;
}
.inner1{
  display: flex;
  width: 70%;
}
.inner1 img {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner2{
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.inner2 > div {
  display: flex;
  margin-left: 10px;
}
.inner2 > div:first-child{
  width: 60%;
}
.inner2 > div:last-child{
  width: 40%;
}
.cartLogo{
  width: 30PX;
  height: 30px;
  margin: auto;
}

.inner2 p{
  margin: auto;
  font-size: 14px;
}
.inner2 p:hover{
  color: RGB(255, 111, 97);
  cursor: pointer;
}


/* Navbar 1 section ends from here */

/* Navbar 2 section starts from here */
.searchOuter{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  padding: 5px 4% 5px 4%;
  border-bottom: 0.1px solid rgb(210, 208, 208);
  border-width: 100%;
}

.searchInner1{
  display: grid;
  width: 65%;
  grid-gap:3px;
  grid-template-columns: auto 180px auto 1fr auto;
}
.searchInner1 input{
 padding: 1px;
 background-color: RGB(241, 244, 246);
  outline: none;
  border: none;
  border-radius: 1px;
  padding-left: 15px;
}
.searchInner2{
  display: flex;
}
.searchInner2 button{
  color: white;
  background-color: RGB(255, 111, 97);
  padding: 9px 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.quic{
  font-size: 12px;
  color: #666666;
  text-align: end;
  margin: auto;
  margin-right: 5px;
  
}
.searchInner2 > p:first-child{
  font-size: 12px;
  margin: auto;
  margin-right: 40px;
  color: RGB(255, 111, 97);
  opacity: 80%;
}
.searchInner1 i:last-child , .searchInner1 i:first-child , #cross{
  font-size: 15px;
  margin: auto;
  background-color: RGB(241, 244, 246);
  padding: 12px 10px;
  margin-left: -3px;
  color: #666666;
}
.searchInner1 i:first-child{
  font-size: 15px;
  margin-right: -3px;
}

/* Navbar 2 section ends from here */

 .navbar3{
  display: flex;
  justify-content: space-evenly;
}

.dropdown-menu ul{
  list-style: none;
  padding: 0;

}

.dropdown-menu{
  display: flex;
}

.flex{
  display: flex;
}
.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: black;
}
.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.navbar4{
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  padding-block: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#grandfather{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}

.navbar5{
  width: 100%;
 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.colhover:hover{
  padding: 12px;
  border: 2px solid  rgb(233, 217, 217);
} 

.content1{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 50px; 
}
.content1 > p {
  font-size: 1em;
  color: rgb(102, 102, 102);
}
.content2-1 {
  text-align: center;
  padding: 30px;
}
.content2-2{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.content3{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}
.content3 h4{
  padding: 5px;
}
.content3 input{
  padding: 0px 10px;
  margin: 10px;
  width: 300px;
}


.full-footer {
  background-color: rgb(255, 252, 248);
  
  width: 100%;

}

.top-footer h3 {
  color: black;
}

.top-footer a {
  color:  rgb(102, 102, 102);
  text-decoration: none;
}

.top-footer a:hover {
  color: blue;
}

.bottom-footer {
  justify-content: space-around;
  align-items: center;
}

.bottom-footer p,
i {
  margin: 0px;
  color: #ffffff;
}
.appimg img{
  background-color: black;
  margin: 5px;
}
.connecticons i{
  color: black;
}


.xyz{
  display: flex;
  justify-content: space-evenly;
}

.bcd{
  display: flex;
  justify-content: space-between;
}